In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
train_df = pd.read_csv('../dataset/train_preprocessed.csv')
train_df.sample(frac=.3)

,index,SERIAL,PERNUM,HHWT,CLUSTER,STRATA,PERWT,AGE,YRMARR,YRNATUR,...,occupation_Machine_Feeders_and_Offbearers,occupation_Packers_and_Packagers_Hand,occupation_Pumping_Station_Operators,occupation_Refuse_and_Recyclable_Material_Collectors,occupation_Material_moving_workers_nec,occupation_Military_Officer_Special_and_Tactical_Operations_Leaders,occupation_First-Line_Enlisted_Military_Supervisors,occupation_Military_Enlisted_Tactical_Operations_and_Air/Weapons_Specialists_and_Crew_Members,occupation_Military_Rank_Not_Specified,occupation_Unemployed_with_No_Work_Experience_in_the_Last_5_Years_or_Earlier_or_Never_Worked
808844,808844,916392,1,69.0,2021009163921,410536,69.0,31,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
459820,459820,553536,2,41.0,2021005535361,260021,37.0,56,2008.0,NaN,...,False,False,False,False,False,False,False,False,False,False
943223,943223,646197,1,118.0,2021006461971,330425,118.0,28,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
481824,481824,362825,1,58.0,2021003628251,110112,58.0,53,2015.0,2006.0,...,False,False,False,False,False,False,False,False,False,False
450024,450024,323113,2,129.0,2021003231131,530112,101.0,37,2008.0,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71279,71279,506757,1,56.0,2021005067571,90018,56.0,51,1990.0,NaN,...,False,False,False,False,False,False,False,False,False,False
1176440,1176440,699583,2,71.0,2021006995831,200027,44.0,32,2014.0,NaN,...,False,False,False,False,False,False,False,False,False,False
978937,978937,1390990,1,37.0,2021013909901,1170653,37.0,55,1985.0,NaN,...,False,False,False,False,False,False,False,False,False,False
776294,776294,46018,1,176.0,2021000460181,90004,176.0,51,2003.0,NaN,...,False,False,False,False,False,False,False,False,False,False
319233,319233,1248342,3,106.0,2021012483421,460648,85.0,23,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [3]:
test_df = pd.read_csv('../dataset/test_preprocessed.csv')

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231497 entries, 0 to 1231496
Columns: 584 entries, index to occupation_Unemployed_with_No_Work_Experience_in_the_Last_5_Years_or_Earlier_or_Never_Worked
dtypes: bool(564), float64(8), int64(7), object(5)
memory usage: 850.3+ MB

Preprocess data

In [5]:
[col for col in train_df.columns if train_df[col].dtype != bool]

['index',
 'SERIAL',
 'PERNUM',
 'HHWT',
 'CLUSTER',
 'STRATA',
 'PERWT',
 'AGE',
 'YRMARR',
 'YRNATUR',
 'RACNUM',
 'WKSWORK1',
 'UHRSWORK',
 'INCWAGE_CPIU_2010',
 'TRANTIME',
 'carpools',
 'commutePrivateVehicle',
 'commutePublicTransportation',
 'commuteBikeOrWalk',
 'workFromHome']

In [6]:
# Drop unnecessary columns
train_df.drop(['index', 'SERIAL', 'PERNUM', 'HHWT', 'CLUSTER', 'STRATA', 'PERWT','YRMARR', 'YRNATUR', 'carpools'], axis=1, inplace=True)

In [7]:
[col for col in train_df.columns if train_df[col].dtype == 'object']

['commutePrivateVehicle',
 'commutePublicTransportation',
 'commuteBikeOrWalk',
 'workFromHome']

In [8]:
for col in train_df.columns:
    if train_df[col].dtype == 'object':
        unique = train_df[col].unique()
        assert(len(unique) == 3 and True in unique and False in unique)
        print(f"Replacing {train_df[col].isna().values.sum()} NaN values in {col} with false")
        train_df[col] = train_df[col].fillna(False).astype(bool)

Replacing 13714 NaN values in commutePrivateVehicle with false
Replacing 13714 NaN values in commutePublicTransportation with false
Replacing 13714 NaN values in commuteBikeOrWalk with false
Replacing 13714 NaN values in workFromHome with false

In [9]:
for col in train_df.columns:
    if(train_df[col].isna().values.sum() > 0):
        print("Warning: NaN values in column", col)

Warning: NaN values in column TRANTIME

In [10]:
train_df.drop(['TRANTIME'], axis=1, inplace=True)

Train model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=1, max_depth=1, criterion='absolute_error', random_state=0, n_jobs=-1)

In [ ]:
forest.fit(train_df.drop('INCWAGE_CPIU_2010', axis=1), train_df['INCWAGE_CPIU_2010'])